<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Misplaced Drugs</title>

  {% load static %}

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap4/css/bootstrap.min.css' %}" />
  <!-- My CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'repos/style.css' %}" />
</head>

<body>

  <nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
      </a>
      <a class="py-2 d-none d-md-inline-block {% if request.path == "/repos/" %} active-link{% endif %}" href="/repos/">Home</a>
      <a class="py-2 d-none d-md-inline-block {% if request.path == "/repos/about" %} active-link{% endif %}" href="/repos/about/">About</a>
      <a class="py-2 d-none d-md-inline-block {% if request.path == "/repos/contact" %} active-link{% endif %}" href="/repos/contact/">Contact</a>
      <a class="py-2 d-none d-md-inline-block {% if request.path == "/repos/about" %} active-link{% endif %}" href="#">Advanced Search</a>
      <a class="py-2 d-none d-md-inline-block {% if request.path == "/repos/about" %} active-link{% endif %}" href="#">Download</a>
    </div>
  </nav>

  <h2>{{ this_drug.generic_name }} Targets Binding Site Comparisons</h2>

  {%for comp in this_drug.comparison_set.all%}

    <p>Comparison Info</p>
    <li>Target 1 Uniprot ID: {{ comp.Target1_ID }}</li>
    <li>Target 2 Uniprot ID: {{ comp.Target2_ID }}</li>
    <li>Shared Drug: {{ comp.DrugBank_ID }} </li>
    <li>PDB Pair: {{ comp.PDB_Pair }}</li>
    <li>PDB Percentage Identity: {{ comp.Percentage_Identity }}</li>

    <p>Output</p>

    <li>Probis RMSD(<span>&#8491;</span>): {{ comp.Probis_RMSD }}</li>
    <li>Probis Z-Score: {{ comp.Probis_ZScore }}</li>
    <li>Probis E-Value: {{ comp.Probis_EValue }}</li>
    <li>APoc P-Score: {{ comp.APoc_PScore }}</li>
    <li>PocketFEATURE S(Tc): {{ comp.PocketFEATURE_STc }}</li>
    <li>PocketFEATURE Pocket Similarity: {{ comp.PocketFEATURE_Pocket_Similarity }}</li>

  {%endfor%}

  {%for comp in this_drug.comparison_set.all%}

    <div class="container mt-5">
      <div class="card-deck">
        <div class="card">
          <h4 class="card-header">ProBis</h4>
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>RMSD (<span>&#8491;</span>) </th>
                  <td>{{ comp.Probis_RMSD }}</td>
              </tr>
              <tr>
                <th>Z-Score</th>
                  <td>{{ comp.Probis_ZScore }}</td>
              </tr>
              <tr>
                <th>E-Value</th>
                  <td>{{ comp.Probis_EValue }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card">
          <h4 class="card-header">APOC</h4>
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>P-Score</th>
                  <td>{{ comp.APoc_PScore }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card">
          <h4 class="card-header">Pocket Feature</h4>
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>S(Tc)</th>
                  <td>{{ comp.PocketFEATURE_STc }}</td>
              </tr>
              <tr>
                <th>Pocket Similarity</th>
                  <td>{{ comp.PocketFEATURE_Pocket_Similarity }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  {%endfor%}

</body>
</html>
