<!DOCTYPE html>
<html lang="en" class="background.fade">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Misplaced Drugs</title>

  {% load static %}

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap4/css/bootstrap.min.css' %}" />
  <!-- My CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'repos/style.css' %}" />
</head>

<body>

  <nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
      </a>
      <a class="py-2 d-none d-md-inline-block {% if request.path == "/repos/" %} active-link{% endif %}" href="/repos/">Home</a>
      <a class="py-2 d-none d-md-inline-block {% if request.path == "/repos/about" %} active-link{% endif %}" href="/repos/about/">About</a>
      <a class="py-2 d-none d-md-inline-block {% if request.path == "/repos/contact" %} active-link{% endif %}" href="/repos/contact/">Contact</a>
      <a class="py-2 d-none d-md-inline-block {% if request.path == "/repos/" %} active-link{% endif %}" href="#">Advanced Search</a>
      <a class="py-2 d-none d-md-inline-block {% if request.path == "/repos/" %} active-link{% endif %}" href="#">Download</a>


    </div>
  </nav>

  <div class="container mt-5">
    <div class="card-deck">
      <div class="card">
        <h4 class="card-header">{{ this_drug.generic_name }}</h4>
        <div class="card-body drug-card">
          <img class="img-fluid" id="myImg" src="https://www.drugbank.ca/structures/{{ this_drug.drugbank_ID}}/image.svg" alt="{{ this_drug.generic_name}} Structure">
          <!-- MODAL -->
          <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
          </div>
        </div>
      </div>
      <div class="card">
        <h4 class="card-header drug-header">{{ this_drug.generic_name }} Targets</h4>
        <div class="card-body text-center">
          <ul class="text-left list-group list-group-flush">
            {% for target in this_drug.targets.all %}
            <a class="list-group-item" href="/repos/target/{{ target.uniprot_ID }}/">{{target.protein_name}}</a>
            {% endfor %}
          </ul>
          <p></p>
          <p></p>
          <a href="#" class="text-center mt-5 btn btn-outline-dark">Binding Site Comparison Data</a>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="card">
      <h4 class="card-header">Details</h4>
      <table class="table table-hover" style="height:70vh">
        <tbody>
            <tr>
              <th class="w-25">Brand Name</th>
                <td class="w-75">{{ this_drug.brand_name }}</td>
            </tr>
            <tr>
              <th>Drugbank ID</th>
                <td><a href="https://www.drugbank.ca/drugs/{{ this_drug.drugbank_ID }}/" target="_blank">{{ this_drug.drugbank_ID }}</a></td>
            </tr>
            <tr>
              <th>Indication</th>
                <td>{{ this_drug.indication | safe }}</td>
            </tr>
            <tr>
              <th>Mechanism of Action</th>
                <td>{{ this_drug.moa | safe }}</td>
            </tr>
            <tr>
              <th>Approval</th>
                <td>{{ this_drug.approval }}</td>
            </tr>
            <tr>
              <th>ChEMBL ID</th>
                <td><a href="https://www.ebi.ac.uk/chembldb/index.php/compound/inspect/{{ this_drug.chembl_ID }}/" target="_blank">{{ this_drug.chembl_ID }}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- JAVASCRIPT FOR THE MODAL -->
  <script>
  // Get the modal
  var modal = document.getElementById('myModal');

  // Get the image and insert it inside the modal - use its "alt" text as a caption
  var img = document.getElementById('myImg');
  var modalImg = document.getElementById("img01");
  var captionText = document.getElementById("caption");
  img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
  }

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }
  </script>

</body>

</html>
