{% extends 'repos/base.html' %}
{% load static % }

  {% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="site-name">Website Name</h1>
      <p class="site-explain">A database of multo-target drugs and blah blah</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form autocomplete="off" action="." method ="post">
        <div class="autocomplete" style="width:300px;">
          {% csrf_token %}
          {{ form.your_name }}
        </div>
        <input type="submit">
      </form>
    </div>
  </div>
</div>

  <script>
    autocomplete(document.getElementById("myInput"), drug_names);
  </script>

{% endblock %}
{% block footer %}
{% endblock %}
