<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Misplaced Drugs</title>

  {% load static %}

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap4/css/bootstrap.min.css' %}" />
  <!-- My CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'repos/style.css' %}" />
</head>

<body>
  <nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
      </a>
      <a class="py-2 d-none d-md-inline-block {% if request.path == "/repos/" %} active-link{% endif %}" href="/repos/">Home</a>
      <a class="py-2 d-none d-md-inline-block {% if request.path == "/repos/" %} active-link{% endif %}" href="#">Advanced Search</a>
      <a class="py-2 d-none d-md-inline-block {% if request.path == "/repos/" %} active-link{% endif %}" href="#">Download</a>
      <a class="py-2 d-none d-md-inline-block {% if request.path == "/repos/about" %} active-link{% endif %}" href="/repos/about/">About</a>
      <a class="py-2 d-none d-md-inline-block {% if request.path == "/repos/" %} active-link{% endif %}" href="#">Contact</a>
    </div>
  </nav>

  <div class="container">
    <div class="row align-items-center" style="height:20vh">
      <h2>{{ this_target.protein_name }}</h2>
    </div>
  </div>

  <div class="container">
    <table class="table table-hover" style="height:30vh">
      <tbody>
          <tr>
            <th>UniProt ID</th>
              <td><a href="http://www.uniprot.org/uniprot/{{ this_target.uniprot_ID }}/" target="_blank">{{ this_target.uniprot_ID }}</a></td>
          </tr>
          <tr>
            <th>Gene</th>
              <td>{{ this_target.gene_name }}</td>
          </tr>
          <tr>
            <th>PDB ID(s)</th>
              <td> <ul>
              {% for pdb in this_target.pdb_set.all %}
                <li><a href="http://www.rcsb.org/structure/{{pdb.PDB_ID}}/" target="_blank">{{pdb.PDB_ID}}</a></li>
              {% endfor %}
              </ul> </td>
          </tr>
          <tr>
            <th>Drug Interactions</th>
              <td> <ul>
              {% for drug in this_target.drug_set.all %}
                <li><a href="/repos/drug/{{ drug.drugbank_ID }}/">{{drug.generic_name}}</a></li>
              {% endfor %}
              </ul> </td>
          </tr>
      </tbody>
    </table>
  </div>

  <div class="container">
    <div class="row align-items-center" style="height:20vh">
      <h2>Structural View</h2>
    </div>
  </div>


<script src="{% static 'ngl-master/build/js/ngl.dev.js' %}"></script>
  <script>
    var stage;
    document.addEventListener("DOMContentLoaded", function () {
      stage = new NGL.Stage("viewport");
      stage.loadFile("rcsb://{{ this_target.PDB_ID }}", {defaultRepresentation: true});
    });
  </script>
  <div id="viewport" style="width:800px; height:800px;"></div>

<script type="text/javascript">
   var imagePath = 'http://sstatic.net/so/img/';
</script>

</body>

</html>
