html {}

/*BACKGROUNDS FOR ALL PAGES*/
.background {
  background: url("images/background1.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.background-about {
  background: url("images/imperial.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: grayscale(100%);
}
.background-about1 {
  background: url("images/statistics.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: grayscale(100%);
}

.active-link {
  border: 2px solid rgba(255,255,255,1);
  border-radius: 6px;
  color: rgba(255,255,255,1);
  padding: 1cm 0.5cm 1cm 0.5cm;
}

.transparent {
  background: transparent;
}

.site-name {
  color: white;
  background: transparent;
  text-align: center;
  text-transform: capitalize;
  vertical-align: middle;
  font-size: 70px;
  font-weight: bold;
  margin-top: 250px;
}

.site-explain {
  color: rgb(200, 200, 200);
  background: transparent;
  text-align: center;
  font-size: 30px;
}

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.home-back {
  background: transparent;
}

h2 {
    color: rgba(0, 0, 0, .85);
    text-transform:capitalize;
    font-weight: bold;
    padding: 0.5cm 0cm 0.5cm 0cm;
    text-align: center;
}

p {

}

li {
  color: black;
  text-align: justify;
}
/*body {
    background: white url("images/background.jpg") no-repeat right bottom;
}*/

#searchbar > input {
  background: transparent;
  color: white;
}


.intro{
  height:100%;
  background: gray;
}

.left {
  text-align: justify;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.right {
  text-align: justify;
  justify-content: center;
  align-items: center;
  height : 100%;
}

@media (max-width: 1200px) {
  .left{
    height:50%
  }
  .right{
    height:50%
  }

}
.about{
  display: flex;
  justify-content : center;
  align-items : center;
  background-color:#000;
  color : #FFF;
  height:100%
}

.about-background {
  background-color: rgba(0, 0, 0, .85);
}

.pad {
  padding: 5cm 0cm 5cm 0cm;
}

.between-pad {
  padding: 0.4cm 0cm 0cm 0cm;
}
